# the apikey for authentication (generated on the Prowl website)
apikey=4ef7b123b4fd5e8a0c95f33ed118a5215e97659c

# the default priority of a Prowl notifications (optional, defaults to '0')
#defaultpriority=

# the url of the Prowl public api
# (optional, defaults to 'https://prowl.weks.net/publicapi/')
#url=
